<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Madison Luna - Art portfolio</title>
		<link href="bootstrap.min.css" rel="stylesheet">
		<link href="lightbox.css" rel="stylesheet">
		<link href="gallery.css" rel="stylesheet">
	</head>
	<body>
		<div class="lightbox-gallery">
			<div class="container">
				<div class="intro">
					<h2 class="text-center">Madison Luna - Art Portfolio</h2>
                    <p class="text-center">I started practising art in ___. This is a gallery showing my progress. <p class="text-center">For my main comic, see ______.</p><p class="text-center">.</p>
				</div>
				<div class="row photos">
					REPLACE_GALLERY
				</div>
			</div>
		</div>
	</body>
</html>
